@Model Jogador

@{
  ViewData["Title"] = "Jogador";
}

<link rel="stylesheet" href="~/css/jogadores.css">




@if (ViewBag.UserName == null)
{
  <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
}
else
{



  @* usar depois!!!!!!!!!!!!!! *@
  <main>

    <section class="container-grid cadastro-equipes">
      <form class="frm-cad-equipe" method="POST" action="@Url.Action("Cadastrar")" enctype="multipart/form-data">
        <div class="cadequipe-titulo">
          <h1>Cadastro de Jogadores</h1>
          <hr>
        </div>

        @* <Label for="">Nome</Label> *@
        <input class="campo-entrada" type="text" name="Nome" id="nome-jogador" placeholder="digite o nome">

        @* <Label for="">Email</Label> *@
        <input class="campo-entrada" type="text" name="Email" id="email-jogador" placeholder="digite o email">

        @* <Label for="">Senha</Label> *@
        <input class="campo-entrada" type="password" name="Senha" placeholder="digite a senha">

        @* <Label for="">IdEquipe</Label> *@
        <select name="IdEquipe" id="IdEquipe" class="campo-entrada" id="equipe-select">
          <option value="0">Selecione uma Equipe</option>
          @foreach (Equipe equipe in ViewBag.Equipe)
          {
            <option value="@equipe.IdEquipe">@equipe.Nome</option>
          }
        </select>

        <button type="submit">Cadastrar</button>


      </form>




      @* tabela de cadastro de equipes *@
      <table class="table table-striped table-responsive">


        <thead>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Equipe</th>
            <th>Ações</th>
          </tr>
        </thead>

        <tbody>


          @foreach (Jogador jogador in ViewBag.Jogador)
          {
            @* colocar a tag <tr envolta de tudo que foi escrito nesse foreach *@
            <tr>

              <td>@jogador.IdJogador</td>
              <td>@jogador.Nome</td>
              <td>@jogador.Email</td>

              @* <td>@jogador.Senha</td> *@
              <td>
                <img src="/img/Equipes/@jogador.Equipe.Imagem" alt="Imagem da equipe @jogador.Equipe.Nome" width="50px">
              </td>

              <td>
                <a asp-area="" asp-controller="Jogador" asp-action="Excluir" asp-route-id="@jogador.IdJogador"><img class="yellow-trash" src="~/assets/trash.png" alt=""></a>


                <a asp-area="" asp-controller="Jogador" asp-action="Editar" asp-route-id="@jogador.IdJogador"><img class="lapis" src="~/assets/lapis.png" alt="" width="15px"></a>
              </td>





            </tr>

          }



        </tbody>


      </table>

    </section>
  </main>
}

